$black: #000;
$dark: #282a35;
$dark-shift: #484B5D;
$white: #fff;
$white-shift: #CECECE;
$green: #57b560;
$green-shift: #32883A;
$orange: #EC8200;
$orange-shift: #C76D00;
$blue: #6471a2;

%green-gradient {
  background-image: linear-gradient($green, $green-shift);
}

%white-gradient {
  background-image: linear-gradient($white, $white-shift);
}

%orange-gradient {
  background-image: linear-gradient($orange, $orange-shift);
}

%drop-shadow {
  filter: drop-shadow(2px 1px 2px $black);
}

body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282a35;
  background-size:16px 16px;
  color: $white;
  font-size: 18px;
  font-family: 'Roboto';
}

.main {
  padding: 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

.logo {
  margin-top: 10px;
  @extend %drop-shadow;
}

.logo-left {
  font-size: 34px;
  font-weight: bold;
}

.logo-right {
  font-weight: 400;
  color: $blue;
  font-size: 34px;
}

.nav-right {
  display: flex;
  align-items: center;
}

%button {
  @extend %drop-shadow;
  padding: 20px 80px;
  border-radius: 40px;
  font-weight: bold;
  color: $white;
  border: none;
  outline: none;
}

.bpm-label select {
  background: $dark;
  color: $white;
  outline: none;
  width: 250px;
  height: 50px;
  margin-right: 20px;
}

.play {
  @extend %button;
  @extend %green-gradient;
  .icon { background-image: url(./play.svg); }
}

.play:hover {
  background: $green-shift;
  cursor: pointer;
}

.pause {
  @extend %button;
  @extend %orange-gradient;

  .icon { background-image: url(./pause.svg); }
}

.pause:hover {
  background: $orange-shift;
  cursor: pointer;
}

.play, .pause {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}

.lane {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.pitch {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
}

%pitch-node {
  @extend %drop-shadow;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.pitch-node-on {
  @extend %pitch-node;
  @extend %green-gradient;
}

.pitch-node-on:hover {
  background: $green-shift;
  cursor: pointer;
}

.pitch-node-active {
  @extend %pitch-node;
  @extend %green-gradient;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.pitch-node-active:hover {
  background: $green-shift;
  cursor: pointer;
}

.pitch-node-off {
  @extend %pitch-node;
  @extend %white-gradient;
}

.pitch-node-off:hover {
  background: $white-shift;
  cursor: pointer;
}

.notes {
  display: flex;
}

%note {
  height: 100px;
  width: 100px;
  border: solid 1px $dark;
  position: relative;
}

.note-enabled {
  @extend %note;
  @extend %white-gradient;
}

.note-enabled:hover {
  background: $white-shift;
  cursor: pointer;
}

.note-disabled {
  @extend %note;
  background: $dark-shift;
}

.note-selected {
  @extend %note;
  @extend %green-gradient;
}

.note-selected:hover {
  background: $green-shift;
  cursor: pointer;
}

.time-node {
  @extend %white-gradient;
  height: 25px;
  width: 25px;
  border: solid 1px $dark;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  z-index: 1;
  top: -12px;
  filter: drop-shadow(2px 1px 2px $dark);
}

.time-node:hover {
  background: $white-shift;
  border: solid 1px $blue;
  cursor: pointer;
}

.time-node-active {
  height: 25px;
  width: 25px;
  background: $blue;
  border-radius: 50%;
  border: solid 5px $blue;
  position: absolute;
  right: -18px;
  top: -18px;
  z-index: 1;
  filter: drop-shadow(2px 1px 2px $dark);
}

.time-bar-active {
  height: 99px;
  width: 5px;
  background: $blue;
  position: absolute;
  top: 14px;
  left: 10px;
}

%playing-node {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: 42px;
  top: 42px;
}

.playing-node-off {
  @extend %playing-node;
  background: $dark;
}

.playing-node-on {
  @extend %playing-node;
  background: $orange;
  box-shadow: 0px 0px 15px 2px $orange;
  z-index: 1;
}
